.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.users{
    width: 50%;
}

.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    margin: 50px 0;
}